
@{
    ViewData["Title"] = "Another";
}

<h1>Another</h1>

<p>
    Data from ViewBag : @ViewBag.res
</p>

<p>
    Data from View data : @ViewData["vd"]
</p>


<p>
    Data from Temp data : @TempData["td"]
</p>
