<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">MyWebsite</div>
        <ul class="nav-links">
            <li><a asp-controller="Action" asp-action="Homepage">Home</a></li>
            <li><a asp-controller="Action" asp-action="Validations_Ex">Validations Example</a></li>
            <li><a asp-controller="Employee" asp-action="EmployeeList">All Employees</a></li>
            <li><a asp-controller="Action" asp-action="Launch">Launch Ex</a></li>
            <li><a asp-controller="StateManagementEx" asp-action="From">State Management Ex</a></li>
            <li><a asp-controller="Action" asp-action="Logout">Logout</a></li>


        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>

    @Html.RenderPartialAsync("PartialFooter")
   
</body>
</html>
