
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Footer -->
<footer>
    <p>© 2026 MyWebsite. All rights reserved.............</p>
</footer>